<header class="d-flex justify-content-between p-3 align-items-center bg-dark">
    
    <nav id="nav" class="navbar navbar-dark justify-content-between navbar-expand-lg bg-light fixed-top  bg-dark p-3">
        
        <!-- =======Desktop bar starts here ========== -->
        <div>
            <h1>
                <a href="/home">
                    <img src="./images/edwardlogo.png" alt="edwardlog">
                </a>
            </h1>
        </div>
        <ul class="nav justify-content-end align-items-center d-none d-md-flex">
            <li class="nav-item">
                <a class="nav-link fw-bold" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold" href="/project">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold" href="/services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold" href="/contactme">Contact Me</a>
            </li>
        </ul>
        <!-- ==========Desktop navbar ends here==================== -->

        <button class="navbar-toggler d-sm-block d-md-none " type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- =======Mobile bar starts here ========== -->
        <div   class="offcanvas offcanvas-end d-sm-block d-md-none" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
            <ul class="nav justify-content-around align-items-center d-flex flex-column">
                <li class="nav-item">
                    <a class="nav-link text-dark fw-bold" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark fw-bold" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark fw-bold" href="/project">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark fw-bold" href="/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark fw-bold" href="/contactme">Contact Me</a>
                </li>
            </ul>   
        </div>
        <!-- =======Mobile bar starts here ========== -->

</header>