<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

  <body class="vh-100 p-6 bg-dark" >
    <%- include('../partials/navigation-index.ejs') %>
      <main id="aboutMe"  class="d-flex flex-column h-100 justify-content-center align-items-center p-5">
        <div id="avatar" class="rounded overflow-hidden">
          <img src="./images/headshot.jpeg" class="img-fluid rounded"  alt="">
        </div>
        <p style="font-weight: 500;" class="text-center fs-4 text-white"  >
            I'm Edward Omere, a passionate developer with a creative flair, based in Canada. I enjoy coding, learning new frameworks, problem solving and creating intuitive designs.
            Continually expanding my technical expertise. I am currently learning javascript, c# and SQL.
            <br />
            <br />
            <a href="./documents/edwardomereresume.docx" download>
              Click here to download my resume
            </a>
        </p>
      </main>
  </body>
  <%- include('../partials/footer.ejs') %>
</html>