<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

  <body class="vh-100 p-6 bg-dark" >
    <%- include('../partials/navigation-index.ejs') %>
    <main  class="d-flex h-100 flex-row justify-content-between overflow-hidden mt-5 p-5">
      <div style="align-self: h-100 center" class="pl-5 ml-5">
        <p class="fw-bold fs-1 text-white">EDWARD OMERE</p>
        <p class="my-3 fs-xs-5 fs-lg-3 text-white" >I am a developer dedicated to solving <br> probelms using programming</p>
        <a  type="button" href="./about" class="btn btn-light btn-lg shadow-sm">
          About Me
        </a>
      </div>
      <div class="rounded-circle bg-dark" id="homeCircle" />
    </main>
  </body>
  <%- include('../partials/footer.ejs') %>

</html>