<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

  <body class="vh-100 p-6 bg-dark" >
    <%- include('../partials/navigation-index.ejs') %>
      <main id="aboutMe"  class="d-flex p-5 pt-100 flex-md-row flex-sm-column h-100 justify-content-md-center flex-wrap align-items-center bg-dark  overflow-hidden ">
        <div class="services p-3 m-3 rounded bg-dark">
            <div class="servicesImage">
                <img class="w-100" src="./images/Screenshot.png" alt="mobiledevelopment">
            </div>
            <p class="text-white text-center fw-bold fs-4">My Portfolio</p>
        </div>
      </main>
  </body>
  <%- include('../partials/footer.ejs') %>

</html>