<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

  <body class="p-6" >
    <%- include('../partials/navigation-index.ejs') %>
      <main   class="w=100 h-100 align-items-center  d-flex flex-column flex-md-row flex-wrap pt-5 mt-5  bg-dark ">
        <div class="services p-3 m-3 rounded bg-dark">
            <div class="servicesImage">
                <img class="w-100" src="./images/webdesign.jpg" alt="webdesign">
            </div>
            <p class="text-white text-center fw-bold fs-4">Web Design</p>
        </div>
        <div class="services p-3 m-3 rounded bg-dark">
            <div class="servicesImage">
                <img class="w-100" src="./images/mobiledevelopment.png" alt="mobiledevelopment">
            </div>
            <p class="text-white text-center fw-bold fs-4">Mobile Developmnet</p>
        </div>
        <div class="services p-3 m-3 rounded bg-dark">
            <div class="servicesImage">
                <img class="w-100" src="./images/webdevelopment.jpg" alt="webdevelopment">
            </div>
            <p class="text-white text-center fw-bold fs-4">Web Development</p>
        </div>
      </main>
  </body>
  <%- include('../partials/footer.ejs') %>
</html>